.avatar_img{
	max-width: 150px;
	border: 2px solid #fff;
	border-radius: 100%
}

.avatar_img_small{
	max-width: 100px;
	border: 2px solid #fff;
	border-radius: 100%
}

.avatar_nav_dropdown{
	width:32px; height:32px; position:absolute; top:10px; left:10px; border-radius:50%
}

*[data-href] {
  cursor: pointer;
}
.clickable-row-a {
  display:inline-block;
  min-height:100%;
  width:100%;
}

.clickable-row-a:hover {
    text-decoration: none;
}

.td-click {
  padding:0;  
}
.first-row:hover {
    background-color: primary;
}